openapi: 3.0.3
info:
  title: CertFast API
  description: |
    # CertFast Compliance Automation Platform API

    This API provides programmatic access to CertFast's compliance automation 
    features including framework management, evidence collection, policy 
    management, and audit workflows.

    ## Authentication

    CertFast API supports two authentication methods:

    ### 1. Bearer Token (User Sessions)
    For user-facing operations, use the access token obtained from the login endpoint:
    ```
    Authorization: Bearer {access_token}
    ```

    ### 2. API Key (Service-to-Service)
    For automated integrations and service accounts:
    ```
    Authorization: Bearer cf_live_{api_key}
    ```

    ## Rate Limiting

    Rate limits are tier-based and enforced per authentication method:

    | Tier | Requests/Hour | Burst |
    |------|---------------|-------|
    | Lite | 100 | 10 |
    | Starter | 500 | 50 |
    | Pro | 2,000 | 200 |
    | Enterprise | 10,000 | 1,000 |

    Rate limit headers are included in all responses:
    - `X-RateLimit-Limit`: Maximum requests allowed per hour
    - `X-RateLimit-Remaining`: Remaining requests in current window
    - `X-RateLimit-Reset`: Unix timestamp when limit resets
    - `X-RateLimit-Retry-After`: Seconds until retry (on 429 only)

    ## Pagination

    List endpoints use cursor-based pagination for consistent performance:

    ```
    GET /tenants/{tenantId}/users?limit=20&cursor=eyJpZCI6IjEyMyJ9
    ```

    Response includes pagination metadata:
    ```json
    {
      "data": [...],
      "pagination": {
        "next_cursor": "eyJpZCI6IjQ1NiJ9",
        "has_more": true
      }
    }
    ```

    ## Error Handling

    All errors follow RFC 7807 Problem Details format:

    ```json
    {
      "error": {
        "code": "insufficient_tier",
        "message": "This feature requires Pro tier or higher",
        "details": {
          "current_tier": "starter",
          "required_tier": "pro",
          "upgrade_url": "https://app.certfast.eu/settings/billing"
        }
      }
    }
    ```

    Common error codes:
    - `invalid_request` - 400 - Malformed request
    - `unauthorized` - 401 - Authentication required or failed
    - `forbidden` - 403 - Insufficient permissions
    - `not_found` - 404 - Resource doesn't exist
    - `rate_limited` - 429 - Rate limit exceeded
    - `conflict` - 409 - Resource conflict (e.g., duplicate email)
    - `insufficient_tier` - 403 - Feature not available on current tier
    - `validation_error` - 422 - Request validation failed

    ## API Versioning

    CertFast API uses URL versioning. The current version is `v1`.

    ```
    https://api.certfast.eu/v1/...
    ```

    Breaking changes will result in a new version (v2, etc.). Non-breaking 
    changes (new fields, new endpoints) are added to the current version.

    The `X-API-Version` header is included in all responses.

    ## Idempotency

    POST requests support idempotency via the `Idempotency-Key` header:

    ```
    Idempotency-Key: {uuid}
    ```

    Keys are valid for 24 hours. Duplicate requests with the same key return 
    the original response without side effects.

    ## Webhooks

    Configure webhooks to receive real-time event notifications. See the 
    Webhooks section for configuration and event types.

    ## Data Residency

    CertFast operates in EU regions for GDPR compliance. All data is stored 
    in `eu-west-1` (Ireland) or `eu-central-1` (Frankfurt) based on tenant 
    configuration.

    ## Support

    - Documentation: https://docs.certfast.eu
    - Support: api-support@certfast.eu
    - Status: https://status.certfast.eu

  version: 1.0.0
  contact:
    name: CertFast API Support
    email: api-support@certfast.eu
    url: https://docs.certfast.eu
  license:
    name: Proprietary
    url: https://certfast.eu/terms

servers:
  - url: https://api.certfast.eu/v1
    description: Production (EU)
  - url: https://api.staging.certfast.eu/v1
    description: Staging

security:
  - BearerAuth: []

tags:
  - name: Authentication
    description: User authentication, session management, and password reset
  - name: API Keys
    description: Service-to-service authentication management
  - name: Tenants
    description: Tenant/organization management and subscription details
  - name: Users
    description: User management, invitations, and RBAC within tenants
  - name: Frameworks
    description: Compliance framework definitions (SOC 2, ISO 27001, GDPR, etc.)
  - name: Controls
    description: Security control definitions and implementations
  - name: Assessments
    description: Compliance assessment workflows and progress tracking
  - name: Evidence
    description: Evidence file upload, management, and linking to controls
  - name: Policies
    description: Policy document management with version control
  - name: Integrations
    description: Third-party service integrations for automated evidence collection
  - name: Webhooks
    description: Outgoing webhook configuration and delivery logs
  - name: Reports
    description: Compliance reporting and audit package generation
  - name: Audit Logs
    description: Security audit logs and activity tracking

paths:
  # ============================================================================
  # AUTHENTICATION
  # ============================================================================
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register new tenant and admin user
      description: |
        Creates a new tenant with the specified tier and registers the first 
        admin user. This endpoint does not require authentication.
        
        After registration, the user will receive a verification email.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              starter:
                summary: Starter tier registration
                value:
                  tenant_name: "Acme Corp"
                  tenant_slug: "acme-corp"
                  billing_email: "billing@acme.com"
                  admin_email: "admin@acme.com"
                  admin_password: "SecurePass123!"
                  admin_first_name: "John"
                  admin_last_name: "Doe"
                  tier_code: "starter"
                  company_size: "15-50"
                  industry: "SaaS"
      responses:
        '201':
          description: Tenant and admin user created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '409':
          description: Conflict - slug or email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags: [Authentication]
      summary: User login
      description: |
        Authenticate with email and password. Returns access and refresh tokens.
        
        If MFA is enabled for the user, the response will indicate MFA is 
        required and provide a temporary token to complete MFA verification.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  example: "admin@acme.com"
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: "SecurePass123!"
                mfa_code:
                  type: string
                  pattern: '^[0-9]{6}$'
                  description: Required if MFA is enabled for the account
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
              examples:
                success:
                  summary: Successful login
                  value:
                    access_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                    refresh_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                    expires_in: 3600
                    token_type: "Bearer"
                    user:
                      id: "550e8400-e29b-41d4-a716-446655440000"
                      email: "admin@acme.com"
                      first_name: "John"
                      last_name: "Doe"
                      role: "owner"
                      tenant_id: "550e8400-e29b-41d4-a716-446655440001"
                    tenant:
                      id: "550e8400-e29b-41d4-a716-446655440001"
                      name: "Acme Corp"
                      slug: "acme-corp"
                      tier_code: "starter"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '423':
          description: Account locked due to too many failed attempts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: User logout
      description: Revokes the current access token and ends the session.
      responses:
        '204':
          description: Logout successful

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      description: |
        Obtain a new access token using a refresh token. Refresh tokens are 
        valid for 30 days. Use this endpoint when the access token expires.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
                  description: Refresh token from login response
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/mfa/setup:
    post:
      tags: [Authentication]
      summary: Setup MFA for current user
      description: |
        Initiates MFA setup by generating a TOTP secret and QR code. 
        Requires verification of the first code to complete setup.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                method:
                  type: string
                  enum: [totp]
                  default: totp
      responses:
        '200':
          description: MFA setup initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: string
                    description: TOTP secret (display once)
                  qr_code_url:
                    type: string
                    description: QR code URL for authenticator apps
                  backup_codes:
                    type: array
                    items:
                      type: string
                    description: One-time backup codes

  /auth/mfa/verify:
    post:
      tags: [Authentication]
      summary: Verify MFA code and complete setup
      description: Verifies the first MFA code to complete setup.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  pattern: '^[0-9]{6}$'
      responses:
        '200':
          description: MFA enabled successfully
        '400':
          description: Invalid verification code

  /auth/mfa/disable:
    post:
      tags: [Authentication]
      summary: Disable MFA
      description: |
        Disables MFA for the current user. Requires password confirmation 
        for security.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                  format: password
      responses:
        '204':
          description: MFA disabled
        '401':
          description: Invalid password

  /auth/password/forgot:
    post:
      tags: [Authentication]
      summary: Request password reset
      description: |
        Sends a password reset email to the user. Always returns 204 even 
        if email doesn't exist (security measure).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '204':
          description: Password reset email sent (if account exists)

  /auth/password/reset:
    post:
      tags: [Authentication]
      summary: Reset password with token
      description: Completes password reset using token from email.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, new_password]
              properties:
                token:
                  type: string
                new_password:
                  type: string
                  format: password
                  minLength: 12
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid or expired token

  # ============================================================================
  # API KEYS
  # ============================================================================
  /tenants/{tenantId}/api-keys:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [API Keys]
      summary: List API keys
      description: |
        Lists all API keys for the tenant. Key values are not returned 
        (they are only shown once at creation).
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: string
        - name: is_active
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedApiKeys'

    post:
      tags: [API Keys]
      summary: Create API key
      description: |
        Creates a new API key for service-to-service authentication. 
        The key value is only returned once in the response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithSecret'

  /tenants/{tenantId}/api-keys/{keyId}:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: keyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [API Keys]
      summary: Get API key details
      responses:
        '200':
          description: API key details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [API Keys]
      summary: Update API key
      description: Update name, description, or scopes. Cannot update key value.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApiKeyRequest'
      responses:
        '200':
          description: API key updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'

    delete:
      tags: [API Keys]
      summary: Revoke API key
      description: Permanently revokes an API key. This action cannot be undone.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '204':
          description: API key revoked

  # ============================================================================
  # TENANTS
  # ============================================================================
  /tenants:
    get:
      tags: [Tenants]
      summary: List all tenants (platform admin only)
      description: |
        Lists all tenants on the platform. Requires platform admin privileges.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, suspended, cancelled]
        - name: tier_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of tenants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTenants'

  /tenants/{tenantId}:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Tenants]
      summary: Get tenant details
      description: Get full details for the specified tenant.
      responses:
        '200':
          description: Tenant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantDetail'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Tenants]
      summary: Update tenant
      description: |
        Update tenant settings. Only owners and admins can update tenant 
        information. Tier changes require billing permissions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantRequest'
      responses:
        '200':
          description: Tenant updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '403':
          $ref: '#/components/responses/Forbidden'

  /tenants/{tenantId}/subscription:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Tenants]
      summary: Get subscription details
      description: |
        Get current subscription details including usage against tier limits.
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDetail'

  /tenants/{tenantId}/usage:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Tenants]
      summary: Get usage statistics
      description: |
        Get detailed usage statistics including current counts against 
        tier limits, storage usage, and API request counts.
      responses:
        '200':
          description: Usage statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageStatistics'

  # ============================================================================
  # USERS
  # ============================================================================
  /tenants/{tenantId}/users:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Users]
      summary: List users
      description: |
        List all users in the tenant with filtering and pagination.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: string
        - name: role
          in: query
          schema:
            type: string
            enum: [owner, admin, compliance_officer, auditor, member]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, pending, suspended, inactive]
        - name: search
          in: query
          schema:
            type: string
            description: Search by name or email
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUsers'

    post:
      tags: [Users]
      summary: Invite user
      description: |
        Invite a new user to the tenant. Sends an invitation email with 
        a link to set up their account. Requires admin or owner role.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserRequest'
      responses:
        '201':
          description: User invited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '409':
          description: User with this email already exists in tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Tier limit reached (max users exceeded)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /tenants/{tenantId}/users/{userId}:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Users]
      summary: Get user details
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetail'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Users]
      summary: Update user
      description: |
        Update user profile or role. Users can update their own profile. 
        Only admins/owners can update roles or other users' profiles.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    delete:
      tags: [Users]
      description: |
        Remove user from tenant. Cannot remove the last owner. 
        User's evidence and audit trail is preserved.
      responses:
        '204':
          description: User removed
        '403':
          description: Cannot remove last owner

  /tenants/{tenantId}/users/{userId}/resend-invitation:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    post:
      tags: [Users]
      summary: Resend invitation email
      description: Resends the invitation email to a pending user.
      responses:
        '204':
          description: Invitation resent

  /tenants/{tenantId}/users/{userId}/activity:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Audit Logs]
      summary: Get user activity log
      description: |
        Get security activity log for a specific user (login, password 
        changes, etc.). Requires admin or auditor role.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 500
        - name: cursor
          in: query
          schema:
            type: string
        - name: activity_type
          in: query
          schema:
            type: string
            enum: [login, logout, password_change, mfa_enabled, mfa_disabled, 
                   api_key_created, api_key_revoked, invitation_accepted, 
                   account_locked, account_unlocked, suspicious_activity]
      responses:
        '200':
          description: User activity log
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedActivityLog'

  # ============================================================================
  # FRAMEWORKS
  # ============================================================================
  /tenants/{tenantId}/frameworks:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Frameworks]
      summary: List frameworks
      description: |
        List all available frameworks including system frameworks and 
        any custom frameworks created by the tenant.
      parameters:
        - name: include_system
          in: query
          schema:
            type: boolean
            default: true
          description: Include system frameworks
        - name: category
          in: query
          schema:
            type: string
            enum: [security, privacy, availability, processing_integrity, confidentiality, resilience]
        - name: jurisdiction
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of frameworks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Framework'

    post:
      tags: [Frameworks]
      summary: Create custom framework
      description: |
        Create a custom compliance framework. Requires Pro tier or higher.
        Custom frameworks are private to the creating tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFrameworkRequest'
      responses:
        '201':
          description: Framework created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Framework'
        '403':
          description: Custom frameworks require Pro tier

  /tenants/{tenantId}/frameworks/{frameworkId}:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: frameworkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Frameworks]
      summary: Get framework details
      description: |
        Get framework details including all controls. For system frameworks, 
        includes the full list of system controls.
      responses:
        '200':
          description: Framework details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrameworkDetail'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Frameworks]
      summary: Update custom framework
      description: |
        Update a custom framework. System frameworks cannot be modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFrameworkRequest'
      responses:
        '200':
          description: Framework updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Framework'
        '403':
          description: Cannot modify system frameworks

    delete:
      tags: [Frameworks]
      summary: Delete custom framework
      description: |
        Delete a custom framework. Cannot delete if frameworks has active 
        assessments. System frameworks cannot be deleted.
      responses:
        '204':
          description: Framework deleted
        '409':
          description: Framework has active assessments

  # ============================================================================
  # CONTROLS
  # ============================================================================
  /tenants/{tenantId}/frameworks/{frameworkId}/controls:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: frameworkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Controls]
      summary: List controls for framework
      description: List all controls within a framework.
      parameters:
        - name: category
          in: query
          schema:
            type: string
        - name: risk_level
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
        - name: can_be_automated
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of controls
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Control'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Controls]
      summary: Create custom control
      description: |
        Create a custom control within a custom framework. Cannot add 
        controls to system frameworks.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateControlRequest'
      responses:
        '201':
          description: Control created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Control'

  /tenants/{tenantId}/frameworks/{frameworkId}/controls/{controlId}:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: frameworkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: controlId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Controls]
      summary: Get control details
      responses:
        '200':
          description: Control details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlDetail'

    patch:
      tags: [Controls]
      summary: Update control
      description: |
        Update a custom control. System controls cannot be modified 
        except for automation configuration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateControlRequest'
      responses:
        '200':
          description: Control updated

    delete:
      tags: [Controls]
      summary: Delete control
      description: |
        Delete a custom control. Cannot delete if control is referenced 
        by any assessment.
      responses:
        '204':
          description: Control deleted
        '409':
          description: Control is referenced by assessments

  # ============================================================================
  # ASSESSMENTS
  # ============================================================================
  /tenants/{tenantId}/assessments:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Assessments]
      summary: List compliance assessments
      description: |
        List all compliance assessments for the tenant with filtering 
        by status and framework.
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [in_progress, ready_for_review, audit_scheduled, audit_in_progress, compliant, non_compliant, remediation_required]
        - name: framework_id
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of assessments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAssessments'

    post:
      tags: [Assessments]
      summary: Create assessment
      description: |
        Create a new compliance assessment for a framework. Each tenant 
        can only have one active assessment per framework at a time.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssessmentRequest'
      responses:
        '201':
          description: Assessment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assessment'
        '409':
          description: Active assessment already exists for this framework

  /tenants/{tenantId}/assessments/{assessmentId}:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: assessmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Assessments]
      summary: Get assessment details
      description: |
        Get detailed assessment information including progress statistics 
        and control implementation status.
      responses:
        '200':
          description: Assessment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentDetail'

    patch:
      tags: [Assessments]
      summary: Update assessment
      description: |
        Update assessment details, timeline, or status. Status changes 
        may trigger notifications and webhooks.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssessmentRequest'
      responses:
        '200':
          description: Assessment updated

  /tenants/{tenantId}/assessments/{assessmentId}/controls:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: assessmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Assessments]
      summary: Get control implementations for assessment
      description: |
        Get all control implementations for an assessment with their 
        current status and evidence links.
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [not_started, in_progress, implemented, tested, compliant, non_compliant, remediated, not_applicable]
        - name: responsible_user_id
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Control implementations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ControlImplementation'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /tenants/{tenantId}/assessments/{assessmentId}/controls/{controlImplementationId}:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: assessmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: controlImplementationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Assessments]
      summary: Get control implementation details
      responses:
        '200':
          description: Control implementation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlImplementationDetail'

    patch:
      tags: [Assessments]
      summary: Update control implementation
      description: |
        Update control implementation status, assignee, or test schedule.
        Status transitions may trigger notifications.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateControlImplementationRequest'
      responses:
        '200':
          description: Control implementation updated

  /tenants/{tenantId}/assessments/{assessmentId}/findings:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: assessmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Assessments]
      summary: List audit findings
      description: List all findings for an assessment with filtering.
      parameters:
        - name: severity
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
        - name: status
          in: query
          schema:
            type: string
            enum: [open, in_progress, resolved, accepted_risk, false_positive]
        - name: assigned_to
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of findings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFindings'

    post:
      tags: [Assessments]
      summary: Create finding
      description: |
        Create a new audit finding. Can be used for internal audits or 
        to record external auditor findings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFindingRequest'
      responses:
        '201':
          description: Finding created

  /tenants/{tenantId}/assessments/{assessmentId}/findings/{findingId}:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: assessmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: findingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Assessments]
      summary: Get finding details
      responses:
        '200':
          description: Finding details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FindingDetail'

    patch:
      tags: [Assessments]
      summary: Update finding
      description: |
        Update finding status, assignment, or remediation details. 
        Resolving a finding requires remediation verification.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFindingRequest'
      responses:
        '200':
          description: Finding updated

  # ============================================================================
  # EVIDENCE
  # ============================================================================
  /tenants/{tenantId}/evidence:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Evidence]
      summary: List evidence files
      description: |
        List evidence files with filtering by type, linked controls, 
        and full-text search.
      parameters:
        - name: evidence_type
          in: query
          schema:
            type: string
            enum: [policy, procedure, screenshot, log, configuration, certificate, audit_report, training_record, vendor_assessment, incident_report, other]
        - name: control_id
          in: query
          schema:
            type: string
            format: uuid
            description: Filter by linked control implementation
        - name: search
          in: query
          schema:
            type: string
            description: Full-text search on filename and description
        - name: tags
          in: query
          schema:
            type: string
            description: Comma-separated tags to filter by
        - name: uploaded_by
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: string
        - name: include_deleted
          in: query
          schema:
            type: boolean
            default: false
            description: Include soft-deleted files (admin only)
      responses:
        '200':
          description: List of evidence files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEvidence'

    post:
      tags: [Evidence]
      summary: Upload evidence
      description: |
        Upload an evidence file. Files are stored in S3 with encryption 
        and integrity verification (SHA-256 hash).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: File to upload (max 100MB)
                evidence_type:
                  type: string
                  enum: [policy, procedure, screenshot, log, configuration, certificate, audit_report, training_record, vendor_assessment, incident_report, other]
                  description: Type of evidence
                description:
                  type: string
                  maxLength: 2000
                tags:
                  type: string
                  description: Comma-separated tags
                control_ids:
                  type: string
                  description: Comma-separated control implementation IDs to link
                link_type:
                  type: string
                  enum: [supporting, primary, test_result, reference]
                  default: supporting
      responses:
        '201':
          description: Evidence uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceFile'
        '413':
          description: File too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Storage limit reached for tier

  /tenants/{tenantId}/evidence/{evidenceId}:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: evidenceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Evidence]
      summary: Get evidence details
      description: |
        Get evidence file details including metadata, linked controls, 
        and download URL.
      responses:
        '200':
          description: Evidence details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceFileDetail'

    patch:
      tags: [Evidence]
      summary: Update evidence metadata
      description: Update description, tags, or linked controls.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEvidenceRequest'
      responses:
        '200':
          description: Evidence updated

    delete:
      tags: [Evidence]
      summary: Delete evidence
      description: |
        Soft delete an evidence file. Files are retained per the 
        tenant's retention policy before permanent deletion.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for deletion (audit trail)
      responses:
        '204':
          description: Evidence marked for deletion

  /tenants/{tenantId}/evidence/{evidenceId}/download:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: evidenceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Evidence]
      summary: Get download URL
      description: |
        Returns a presigned S3 URL valid for 15 minutes. Use this URL 
        to download the file directly from S3.
      responses:
        '200':
          description: Download URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                    format: uri
                  expires_at:
                    type: string
                    format: date-time

  /tenants/{tenantId}/evidence/{evidenceId}/controls/{controlImplementationId}:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: evidenceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: controlImplementationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    post:
      tags: [Evidence]
      summary: Link evidence to control
      description: |
        Create a link between an evidence file and a control implementation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                link_type:
                  type: string
                  enum: [supporting, primary, test_result, reference]
                  default: supporting
                notes:
                  type: string
      responses:
        '201':
          description: Link created

    delete:
      tags: [Evidence]
      summary: Unlink evidence from control
      responses:
        '204':
          description: Link removed

  # ============================================================================
  # POLICIES
  # ============================================================================
  /tenants/{tenantId}/policies:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Policies]
      summary: List policies
      description: List all policies with filtering by category and status.
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [information_security, privacy, hr, operational, vendor_management, business_continuity, acceptable_use, other]
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, under_review, approved, superseded, archived]
        - name: owner_id
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of policies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPolicies'

    post:
      tags: [Policies]
      summary: Create policy
      description: |
        Create a new policy with initial content. The policy starts 
        in 'draft' status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePolicyRequest'
      responses:
        '201':
          description: Policy created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'

  /tenants/{tenantId}/policies/{policyId}:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: policyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Policies]
      summary: Get policy details
      description: |
        Get policy details including current version content and 
        acknowledgment statistics.
      responses:
        '200':
          description: Policy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDetail'

    patch:
      tags: [Policies]
      summary: Update policy metadata
      description: Update policy metadata (not content). Use versions for content changes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePolicyRequest'
      responses:
        '200':
          description: Policy updated

    delete:
      tags: [Policies]
      summary: Delete policy
      description: Soft delete a policy. Cannot delete if referenced by assessments.
      responses:
        '204':
          description: Policy deleted

  /tenants/{tenantId}/policies/{policyId}/versions:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: policyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Policies]
      summary: List policy versions
      description: List all versions of a policy with approval status.
      responses:
        '200':
          description: List of policy versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PolicyVersion'

    post:
      tags: [Policies]
      summary: Create new policy version
      description: |
        Create a new version of the policy. Versions are immutable 
        once approved. Supports AI-generated content.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePolicyVersionRequest'
      responses:
        '201':
          description: Policy version created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyVersion'

  /tenants/{tenantId}/policies/{policyId}/versions/{versionId}/approve:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: policyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: versionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    post:
      tags: [Policies]
      summary: Approve policy version
      description: |
        Approve a policy version, making it the current active version. 
        This action cannot be undone.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
      responses:
        '200':
          description: Version approved

  /tenants/{tenantId}/policies/{policyId}/acknowledge:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: policyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    post:
      tags: [Policies]
      summary: Acknowledge policy
      description: |
        Current user acknowledges the current policy version. Records 
        timestamp and IP for compliance audit trail.
      responses:
        '201':
          description: Policy acknowledged
        '200':
          description: Already acknowledged (current version)

  /tenants/{tenantId}/policies/{policyId}/acknowledgments:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: policyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Policies]
      summary: Get policy acknowledgments
      description: |
        Get list of users who have acknowledged the current policy version. 
        Requires admin, compliance_officer, or auditor role.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 500
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of acknowledgments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PolicyAcknowledgment'

  # ============================================================================
  # INTEGRATIONS
  # ============================================================================
  /tenants/{tenantId}/integrations:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Integrations]
      summary: List integrations
      description: |
        List all integrations for the tenant with status and health information.
      parameters:
        - name: provider
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, connected, error, disconnected, degraded]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of integrations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIntegrations'

    post:
      tags: [Integrations]
      summary: Create integration
      description: |
        Initiates a new integration connection. Returns OAuth URL for 
        OAuth-based providers, or connects directly for API key providers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationRequest'
      responses:
        '201':
          description: Integration created
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Integration'
                  - $ref: '#/components/schemas/IntegrationPendingOAuth'
        '403':
          description: Integration limit reached for tier

  /tenants/{tenantId}/integrations/{integrationId}:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: integrationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Integrations]
      summary: Get integration details
      responses:
        '200':
          description: Integration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDetail'

    patch:
      tags: [Integrations]
      summary: Update integration
      description: Update integration settings and configuration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIntegrationRequest'
      responses:
        '200':
          description: Integration updated

    delete:
      tags: [Integrations]
      summary: Remove integration
      description: |
        Permanently removes an integration and all associated automated 
        evidence collection configurations.
      responses:
        '204':
          description: Integration removed

  /tenants/{tenantId}/integrations/{integrationId}/connect:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: integrationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    post:
      tags: [Integrations]
      summary: Complete OAuth connection
      description: |
        Complete OAuth flow by providing authorization code from provider.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: OAuth authorization code
      responses:
        '200':
          description: Connection successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'

  /tenants/{tenantId}/integrations/{integrationId}/sync:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: integrationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    post:
      tags: [Integrations]
      summary: Trigger manual sync
      description: |
        Trigger a manual synchronization with the integrated service. 
        Rate limited per integration.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sync_type:
                  type: string
                  enum: [evidence_collection, user_sync, compliance_check, full]
                  default: evidence_collection
      responses:
        '202':
          description: Sync job queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  sync_id:
                    type: string
                    format: uuid

  /tenants/{tenantId}/integrations/{integrationId}/logs:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: integrationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Integrations]
      summary: Get sync logs
      description: |
        Get synchronization logs for the integration with details on 
        records processed and any errors.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [success, partial, failure, in_progress]
      responses:
        '200':
          description: Sync logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/IntegrationSyncLog'

  # ============================================================================
  # WEBHOOKS
  # ============================================================================
  /tenants/{tenantId}/webhooks:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Webhooks]
      summary: List webhooks
      description: List all configured webhooks for the tenant.
      parameters:
        - name: is_active
          in: query
          schema:
            type: boolean
        - name: event
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWebhooks'

    post:
      tags: [Webhooks]
      summary: Create webhook
      description: |
        Create a new webhook endpoint. A secret will be generated for 
        HMAC signature verification.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookWithSecret'

  /tenants/{tenantId}/webhooks/{webhookId}:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: webhookId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Webhooks]
      summary: Get webhook details
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDetail'

    patch:
      tags: [Webhooks]
      summary: Update webhook
      description: Update webhook URL, events, or status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: Webhook updated

    delete:
      tags: [Webhooks]
      summary: Delete webhook
      responses:
        '204':
          description: Webhook deleted

  /tenants/{tenantId}/webhooks/{webhookId}/regenerate-secret:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: webhookId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    post:
      tags: [Webhooks]
      summary: Regenerate webhook secret
      description: |
        Generate a new webhook secret. The old secret will be invalidated 
        immediately. Use if secret is compromised.
      responses:
        '200':
          description: New secret generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: string

  /tenants/{tenantId}/webhooks/{webhookId}/deliveries:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: webhookId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Webhooks]
      summary: List webhook delivery attempts
      description: |
        Get delivery logs for a webhook including request/response details 
        and retry attempts.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: string
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Delivery logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookDelivery'

  /tenants/{tenantId}/webhooks/{webhookId}/test:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: webhookId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    post:
      tags: [Webhooks]
      summary: Send test webhook
      description: |
        Send a test webhook event to verify endpoint configuration. 
        Returns the delivery result including response status.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                  default: "compliance.assessment.created"
      responses:
        '200':
          description: Test delivery result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  response_status:
                    type: integer
                  response_time_ms:
                    type: integer
                  error_message:
                    type: string

  # ============================================================================
  # REPORTS
  # ============================================================================
  /tenants/{tenantId}/reports/compliance-status:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Reports]
      summary: Get overall compliance status
      description: |
        Get a summary of compliance status across all frameworks including 
        open findings and upcoming reviews.
      responses:
        '200':
          description: Compliance status report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceStatusReport'

  /tenants/{tenantId}/reports/assessments/{assessmentId}/audit-package:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: assessmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Reports]
      summary: Generate audit package
      description: |
        Generate a complete audit package as a ZIP file containing all 
        evidence, policies, control implementations, and findings for 
        an assessment. Returns a presigned URL valid for 24 hours.
      responses:
        '200':
          description: Audit package ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                    format: uri
                  expires_at:
                    type: string
                    format: date-time
                  file_size_bytes:
                    type: integer

  /tenants/{tenantId}/reports/assessments/{assessmentId}/progress:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: assessmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Reports]
      summary: Get assessment progress report
      description: |
        Get detailed progress metrics for an assessment including 
        control status breakdown and timeline.
      responses:
        '200':
          description: Progress report
          content:
            application/json:
              schema:
                type: object
                properties:
                  assessment_id:
                    type: string
                    format: uuid
                  framework_name:
                    type: string
                  overall_progress:
                    type: number
                    format: percentage
                  status_breakdown:
                    type: object
                    properties:
                      not_started:
                        type: integer
                      in_progress:
                        type: integer
                      implemented:
                        type: integer
                      tested:
                        type: integer
                      compliant:
                        type: integer
                      non_compliant:
                        type: integer
                      not_applicable:
                        type: integer
                  timeline:
                    type: object
                    properties:
                      start_date:
                        type: string
                        format: date
                      target_date:
                        type: string
                        format: date
                      days_remaining:
                        type: integer
                      is_on_track:
                        type: boolean

  /tenants/{tenantId}/reports/policy-acknowledgments:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Reports]
      summary: Get policy acknowledgment report
      description: |
        Get a report of policy acknowledgment status across all users 
        and required policies.
      responses:
        '200':
          description: Policy acknowledgment report
          content:
            application/json:
              schema:
                type: object
                properties:
                  policies:
                    type: array
                    items:
                      type: object
                      properties:
                        policy_id:
                          type: string
                          format: uuid
                        policy_title:
                          type: string
                        acknowledgment_rate:
                          type: number
                          format: percentage
                        pending_users:
                          type: integer
                        total_users:
                          type: integer

  # ============================================================================
  # AUDIT LOGS
  # ============================================================================
  /tenants/{tenantId}/audit-logs:
    parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags: [Audit Logs]
      summary: Get tenant audit logs
      description: |
        Get security audit logs for the tenant. Requires admin or 
        auditor role. Supports filtering by activity type and date range.
      parameters:
        - name: activity_type
          in: query
          schema:
            type: string
            enum: [login, logout, password_change, mfa_enabled, mfa_disabled, 
                   api_key_created, api_key_revoked, invitation_accepted, 
                   account_locked, account_unlocked, suspicious_activity,
                   evidence_downloaded, policy_acknowledged, finding_created,
                   finding_resolved, assessment_status_changed]
        - name: user_id
          in: query
          schema:
            type: string
            format: uuid
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 500
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Audit logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAuditLogs'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token from login or API key

  schemas:
    # ============================================================================
    # COMMON
    # ============================================================================
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: "insufficient_tier"
            message:
              type: string
              example: "This feature requires Pro tier or higher"
            details:
              type: object
              additionalProperties: true

    Pagination:
      type: object
      properties:
        next_cursor:
          type: string
          nullable: true
          example: "eyJpZCI6IjEyMyJ9"
        has_more:
          type: boolean
          example: true

    # ============================================================================
    # AUTHENTICATION
    # ============================================================================
    RegisterRequest:
      type: object
      required: [tenant_name, tenant_slug, billing_email, admin_email, admin_password, admin_first_name, admin_last_name, tier_code]
      properties:
        tenant_name:
          type: string
          maxLength: 255
          example: "Acme Corporation"
        tenant_slug:
          type: string
          pattern: '^[a-z0-9-]+$'
          maxLength: 100
          example: "acme-corp"
        billing_email:
          type: string
          format: email
          example: "billing@acme.com"
        admin_email:
          type: string
          format: email
          example: "admin@acme.com"
        admin_password:
          type: string
          format: password
          minLength: 12
          example: "SecurePass123!"
        admin_first_name:
          type: string
          maxLength: 100
          example: "John"
        admin_last_name:
          type: string
          maxLength: 100
          example: "Doe"
        tier_code:
          type: string
          enum: [lite, starter, pro, enterprise]
          example: "starter"
        company_size:
          type: string
          enum: ["1-15", "15-50", "50-100", "100+"]
          example: "15-50"
        industry:
          type: string
          example: "SaaS"
        timezone:
          type: string
          default: "Europe/Paris"
          example: "Europe/Berlin"

    RegisterResponse:
      type: object
      properties:
        tenant:
          $ref: '#/components/schemas/Tenant'
        user:
          $ref: '#/components/schemas/User'
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
          example: 3600

    LoginResponse:
      type: object
      required: [access_token, refresh_token, expires_in, token_type, user, tenant]
      properties:
        access_token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        refresh_token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        expires_in:
          type: integer
          example: 3600
        token_type:
          type: string
          example: "Bearer"
        user:
          $ref: '#/components/schemas/User'
        tenant:
          $ref: '#/components/schemas/Tenant'
        mfa_required:
          type: boolean
          description: True if MFA verification is required

    TokenResponse:
      type: object
      required: [access_token, expires_in, token_type]
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
          example: 3600
        token_type:
          type: string
          example: "Bearer"

    # ============================================================================
    # API KEYS
    # ============================================================================
    ApiKey:
      type: object
      required: [id, name, key_prefix, scopes, is_active, created_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Production API Key"
        description:
          type: string
        key_prefix:
          type: string
          example: "cf_live_"
        scopes:
          type: array
          items:
            type: string
          example: ["evidence:read", "evidence:write", "assessments:read"]
        rate_limit_override:
          type: integer
          nullable: true
        is_active:
          type: boolean
        last_used_at:
          type: string
          format: date-time
          nullable: true
        usage_count:
          type: integer
          example: 15420
        expires_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
          format: uuid

    ApiKeyWithSecret:
      allOf:
        - $ref: '#/components/schemas/ApiKey'
        - type: object
          properties:
            key:
              type: string
              description: Full API key - only shown once
              example: "cf_live_abc123xyz789"

    CreateApiKeyRequest:
      type: object
      required: [name, scopes]
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
        scopes:
          type: array
          items:
            type: string
            enum: ["evidence:read", "evidence:write", "evidence:delete",
                   "policies:read", "policies:write",
                   "assessments:read", "assessments:write",
                   "users:read", "users:write",
                   "integrations:read", "integrations:write",
                   "webhooks:read", "webhooks:write",
                   "reports:read", "audit_logs:read"]
        expires_at:
          type: string
          format: date-time

    UpdateApiKeyRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        scopes:
          type: array
          items:
            type: string
        is_active:
          type: boolean

    PaginatedApiKeys:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ApiKey'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ============================================================================
    # TENANTS
    # ============================================================================
    Tenant:
      type: object
      required: [id, name, slug, status, tier_id, tier_name, data_region, created_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Acme Corporation"
        slug:
          type: string
          example: "acme-corp"
        status:
          type: string
          enum: [active, suspended, cancelled]
        tier_id:
          type: string
          format: uuid
        tier_name:
          type: string
          enum: [Lite, Starter, Pro, Enterprise]
        tier_code:
          type: string
          enum: [lite, starter, pro, enterprise]
        billing_email:
          type: string
          format: email
        technical_contact_email:
          type: string
          format: email
        company_size:
          type: string
          enum: ["1-15", "15-50", "50-100", "100+"]
        industry:
          type: string
        timezone:
          type: string
          example: "Europe/Paris"
        data_region:
          type: string
          enum: [eu-west-1, eu-central-1]
          example: "eu-west-1"
        gdpr_compliant:
          type: boolean
          default: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    TenantDetail:
      allOf:
        - $ref: '#/components/schemas/Tenant'
        - type: object
          properties:
            subscription:
              $ref: '#/components/schemas/Subscription'

    UpdateTenantRequest:
      type: object
      properties:
        name:
          type: string
        billing_email:
          type: string
          format: email
        technical_contact_email:
          type: string
          format: email
        company_size:
          type: string
          enum: ["1-15", "15-50", "50-100", "100+"]
        industry:
          type: string
        timezone:
          type: string

    Subscription:
      type: object
      required: [id, tier_id, tier_name, billing_cycle, status, current_period_ends_at]
      properties:
        id:
          type: string
          format: uuid
        tier_id:
          type: string
          format: uuid
        tier_name:
          type: string
        billing_cycle:
          type: string
          enum: [monthly, annual]
        status:
          type: string
          enum: [trialing, active, past_due, cancelled, expired]
        trial_ends_at:
          type: string
          format: date-time
          nullable: true
        current_period_started_at:
          type: string
          format: date-time
        current_period_ends_at:
          type: string
          format: date-time

    SubscriptionDetail:
      allOf:
        - $ref: '#/components/schemas/Subscription'
        - type: object
          properties:
            limits:
              type: object
              properties:
                max_users:
                  type: integer
                  nullable: true
                max_integrations:
                  type: integer
                  nullable: true
                max_frameworks:
                  type: integer
                  nullable: true
                max_evidence_files:
                  type: integer
                  nullable: true
                evidence_retention_days:
                  type: integer
                api_requests_per_hour:
                  type: integer
            usage:
              type: object
              properties:
                current_user_count:
                  type: integer
                current_integration_count:
                  type: integer
                current_evidence_count:
                  type: integer
                storage_bytes_used:
                  type: integer

    UsageStatistics:
      type: object
      properties:
        period:
          type: object
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        api_requests:
          type: object
          properties:
            total:
              type: integer
            by_endpoint:
              type: object
              additionalProperties:
                type: integer
        storage:
          type: object
          properties:
            total_bytes:
              type: integer
            by_evidence_type:
              type: object
              additionalProperties:
                type: integer

    PaginatedTenants:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Tenant'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ============================================================================
    # USERS
    # ============================================================================
    User:
      type: object
      required: [id, tenant_id, email, first_name, last_name, role, status, created_at]
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        role:
          type: string
          enum: [owner, admin, compliance_officer, auditor, member]
        status:
          type: string
          enum: [active, pending, suspended, inactive]
        job_title:
          type: string
        department:
          type: string
        mfa_enabled:
          type: boolean
        last_login_at:
          type: string
          format: date-time
          nullable: true
        email_notifications_enabled:
          type: boolean
        weekly_digest_enabled:
          type: boolean
        created_at:
          type: string
          format: date-time

    UserDetail:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            pending_acks:
              type: array
              items:
                type: object
                properties:
                  policy_id:
                    type: string
                    format: uuid
                  policy_title:
                    type: string

    InviteUserRequest:
      type: object
      required: [email, first_name, last_name, role]
      properties:
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        role:
          type: string
          enum: [admin, compliance_officer, auditor, member]
        job_title:
          type: string
        department:
          type: string

    UpdateUserRequest:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        role:
          type: string
          enum: [owner, admin, compliance_officer, auditor, member]
        status:
          type: string
          enum: [active, suspended, inactive]
        job_title:
          type: string
        department:
          type: string
        email_notifications_enabled:
          type: boolean
        weekly_digest_enabled:
          type: boolean

    PaginatedUsers:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ============================================================================
    # FRAMEWORKS
    # ============================================================================
    Framework:
      type: object
      required: [id, name, code, version, category, is_system, is_active]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "SOC 2 Type II"
        code:
          type: string
          example: "soc2"
        version:
          type: string
          example: "2017"
        description:
          type: string
        authority:
          type: string
          example: "AICPA"
        category:
          type: string
          enum: [security, privacy, availability, processing_integrity, confidentiality, resilience]
        jurisdiction:
          type: string
          example: "US"
        certification_validity_months:
          type: integer
          nullable: true
        requires_external_audit:
          type: boolean
        is_system:
          type: boolean
        is_custom:
          type: boolean
        is_active:
          type: boolean
        control_count:
          type: integer
        created_at:
          type: string
          format: date-time

    FrameworkDetail:
      allOf:
        - $ref: '#/components/schemas/Framework'
        - type: object
          properties:
            controls:
              type: array
              items:
                $ref: '#/components/schemas/Control'

    CreateFrameworkRequest:
      type: object
      required: [name, code, description, category]
      properties:
        name:
          type: string
        code:
          type: string
          pattern: '^[a-z0-9_-]+$'
        description:
          type: string
        category:
          type: string
        authority:
          type: string
        jurisdiction:
          type: string
        certification_validity_months:
          type: integer
        requires_external_audit:
          type: boolean
          default: false

    UpdateFrameworkRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        is_active:
          type: boolean

    # ============================================================================
    # CONTROLS
    # ============================================================================
    Control:
      type: object
      required: [id, framework_id, control_number, title, description, is_active]
      properties:
        id:
          type: string
          format: uuid
        framework_id:
          type: string
          format: uuid
        control_number:
          type: string
          example: "CC6.1"
        title:
          type: string
        description:
          type: string
        implementation_guidance:
          type: string
        testing_procedure:
          type: string
        evidence_requirements:
          type: array
          items:
            type: string
        category:
          type: string
          example: "access_control"
        subcategory:
          type: string
        risk_level:
          type: string
          enum: [low, medium, high, critical]
        can_be_automated:
          type: boolean
        automation_integration_type:
          type: string
          nullable: true
        is_system:
          type: boolean
        is_active:
          type: boolean

    ControlDetail:
      allOf:
        - $ref: '#/components/schemas/Control'
        - type: object
          properties:
            linked_evidence_count:
              type: integer
            active_assessment_count:
              type: integer

    CreateControlRequest:
      type: object
      required: [control_number, title, description]
      properties:
        control_number:
          type: string
        title:
          type: string
        description:
          type: string
        implementation_guidance:
          type: string
        testing_procedure:
          type: string
        category:
          type: string
        risk_level:
          type: string
          enum: [low, medium, high, critical]
        can_be_automated:
          type: boolean
          default: false

    UpdateControlRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        implementation_guidance:
          type: string
        testing_procedure:
          type: string
        category:
          type: string
        risk_level:
          type: string
          enum: [low, medium, high, critical]
        can_be_automated:
          type: boolean
        automation_integration_type:
          type: string

    # ============================================================================
    # ASSESSMENTS
    # ============================================================================
    Assessment:
      type: object
      required: [id, tenant_id, framework_id, framework_name, status, total_controls, created_at]
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        framework_id:
          type: string
          format: uuid
        framework_name:
          type: string
        framework_code:
          type: string
        status:
          type: string
          enum: [in_progress, ready_for_review, audit_scheduled, audit_in_progress, compliant, non_compliant, remediation_required]
        target_completion_date:
          type: string
          format: date
        audit_date:
          type: string
          format: date
        certification_issued_at:
          type: string
          format: date
        certification_expires_at:
          type: string
          format: date
        total_controls:
          type: integer
        implemented_controls:
          type: integer
        compliant_controls:
          type: integer
        non_compliant_controls:
          type: integer
        not_applicable_controls:
          type: integer
        compliance_percentage:
          type: number
          format: percentage
        assigned_to:
          type: string
          format: uuid
          nullable: true
        auditor_name:
          type: string
        created_at:
          type: string
          format: date-time

    AssessmentDetail:
      allOf:
        - $ref: '#/components/schemas/Assessment'
        - type: object
          properties:
            assigned_user:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
                email:
                  type: string
            notes:
              type: string
            auditor_notes:
              type: string

    CreateAssessmentRequest:
[...]
